*.a
*.cache
*.gch
*.la
*.lo
*.log
*.o
*.plist
*.stamp
*.swp
*.trs
*~
.config.args
.deps/
.dirstamp
.libs/
/*.gcda
/*.gcno
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/tags
Makefile.in
__pycache__/
*.py[co]
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
stamp-*
build/
vgcore.*
cscope.*
